In [13]:
import numpy as np
import pandas as pd
import requests
from data_cleaning_functions import *

### **Get data using API endpoint URL**

In [14]:
# API endpoint URL(set the limit to get all data(default is 1000 rows))
urls = {
    "intake": "https://data.austintexas.gov/resource/wter-evkm.csv?$limit=160000",
    "outcome": "https://data.austintexas.gov/resource/9t4d-g238.csv?$limit=160000"
    }
intake, outcome = get_data(urls)

Successfully get INTAKE data(157583 rows)...
Successfully get OUTCOME data(157503 rows)...

### **Check number of rows, columns, and duplicated rows**

In [15]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157583 rows | 12 columns | 30 duplicated rows
OUTCOME data: 157503 rows | 12 columns | 23 duplicated rows

### **Drop duplicates**

In [16]:
intake.drop_duplicates(inplace=True)
outcome.drop_duplicates(inplace=True)

### **Check number of rows, columns, and duplicated rows after dropping duplicates**

In [17]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157553 rows | 12 columns | 0 duplicated rows
OUTCOME data: 157480 rows | 12 columns | 0 duplicated rows

### **Remove `datetime2` in `intake` data and `monthyear` in `outcome` data**

In [18]:
intake.drop("datetime2", axis=1, inplace = True)
outcome.drop("monthyear", axis=1, inplace = True)

In [19]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A665644,NaN,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
1,A665739,*Alana,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
2,A665763,NaN,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White
3,A379998,Disciple,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black
4,A634503,Otter,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan

In [20]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

### **Sort data by `animal_id` and `datetime`**

In [21]:
intake = intake.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)
outcome = outcome.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)

In [22]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02T15:55:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [23]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08T17:10:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20T16:35:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T00:00:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07T15:12:00.000,2004-04-02T00:00:00.000,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T11:54:00.000,1997-10-16T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

### **Change format for datetime**

In [1]:
# date_format(df, col, format)
date_format(intake, "datetime", "%Y-%m-%d %H:%M").head()

NameError: name 'date_format' is not defined

In [25]:
date_format(outcome, "datetime", "%Y-%m-%d %H:%M")
date_format(outcome, "date_of_birth", "%Y-%m-%d")

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...,...,...
157475,A893778,NaN,2023-11-30 08:50:00,2021-11-28,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
157476,A893795,NaN,2023-11-30 08:50:00,2023-07-28,Transfer,Snr,Cat,Unknown,4 months,Domestic Shorthair,Orange Tabby
157477,A893840,Luna,2023-11-30 12:30:00,2018-11-29,Return to Owner,NaN,Dog,Intact Female,5 years,Pit Bull Mix,Brown/White
157478,A893847,NaN,2023-11-30 19:40:00,2023-09-14,Transfer,Partner,Dog,Intact Male,NaN,Chihuahua Shorthair,Tan
157479,A893856,Jin Do,2023-11-30 16:09:00,2019-11-29,Euthanasia,Suffering,Dog,Neutered Male,4 years,German Shepherd,White

### **Check column names before merging dataframes**

In [26]:
intake.columns

Index(['animal_id', 'name', 'datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color'],
      dtype='object')

In [27]:
outcome.columns

Index(['animal_id', 'name', 'datetime', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

### **Drop duplicated columns in outcome data**
`name`, `animal_type`, `sex_upon_outcome`, `breed`, and `color` are columns that exist in both data

In [28]:
outcome.drop(["name", "animal_type", "sex_upon_outcome", "breed", "color"],
             inplace=True,
             axis=1)

### **Merge dataframes**

In [29]:
intake_n_outcome = merge_intake_n_outcome(intake, outcome)
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,16 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157549,A893985,Chess,2023-12-01 12:33:00,Austin (TX),Owner Surrender,Normal,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby,NaT,NaT,NaT,NaN,NaN,NaN
157550,A893986,Binx,2023-12-01 12:33:00,Austin (TX),Owner Surrender,Normal,Cat,Unknown,2 years,Domestic Shorthair,Black,NaT,NaT,NaT,NaN,NaN,NaN
157551,A893987,NaN,2023-12-01 13:20:00,Cotton Bluff And William Cannon in Austin (TX),Stray,Sick,Dog,Unknown,2 years,Blue Lacy,Fawn,NaT,NaT,NaT,NaN,NaN,NaN
157552,A893988,Phyllis,2023-12-01 13:42:00,11800 Comedro Way in Travis (TX),Stray,Normal,Dog,Unknown,8 years,Labrador Retriever,Black,NaT,NaT,NaT,NaN,NaN,NaN
157553,A893989,NaN,2023-12-01 13:36:00,Imperial Dr And Fm 969 in Austin (TX),Stray,Normal,Dog,Unknown,5 months,Labrador Retriever Mix,Brown Brindle/White,NaT,NaT,NaT,NaN,NaN,NaN

In certain cases, an animal's information may be entered multiple times due to updates in basic details such as `intake_type` or `intake_condition`. Consequently, resolving the issue by solely dropping duplicates at the outset may not suffice. Instead, duplicates will be identified if rows exhibit matching values for `animal_id`, `intake_datetime`, and `outcome_datetime`.

In [30]:
intake_n_outcome.drop_duplicates(subset = ["animal_id", "datetime_intake", "datetime_outcome"],
                                 inplace=True)
intake_n_outcome = intake_n_outcome.loc[:,~intake_n_outcome.columns.duplicated()]
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,16 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157549,A893985,Chess,2023-12-01 12:33:00,Austin (TX),Owner Surrender,Normal,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby,NaT,NaT,NaN,NaN,NaN
157550,A893986,Binx,2023-12-01 12:33:00,Austin (TX),Owner Surrender,Normal,Cat,Unknown,2 years,Domestic Shorthair,Black,NaT,NaT,NaN,NaN,NaN
157551,A893987,NaN,2023-12-01 13:20:00,Cotton Bluff And William Cannon in Austin (TX),Stray,Sick,Dog,Unknown,2 years,Blue Lacy,Fawn,NaT,NaT,NaN,NaN,NaN
157552,A893988,Phyllis,2023-12-01 13:42:00,11800 Comedro Way in Travis (TX),Stray,Normal,Dog,Unknown,8 years,Labrador Retriever,Black,NaT,NaT,NaN,NaN,NaN
157553,A893989,NaN,2023-12-01 13:36:00,Imperial Dr And Fm 969 in Austin (TX),Stray,Normal,Dog,Unknown,5 months,Labrador Retriever Mix,Brown Brindle/White,NaT,NaT,NaN,NaN,NaN

In [31]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'datetime_intake', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'datetime_outcome', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'age_upon_outcome'],
      dtype='object')

### **Reorder columns**

In [32]:
column_order = {
    "animal_id": "animal_id",
    "name": "name",
    "animal_type": "animal_type",
    "sex_upon_intake": "sex",
    "breed": "breed",
    "color": "color",
    "date_of_birth": "date_of_birth",
    "found_location": "found_location",
    "datetime_intake": "intake_datetime",
    "age_upon_intake": "age_upon_intake",
    "datetime_outcome": "outcome_datetime",
    "age_upon_outcome": "age_upon_outcome",
    "intake_type": "intake_type",
    "intake_condition": "intake_condition",
    "outcome_type": "outcome_type",
    "outcome_subtype": "outcome_subtype"
}
intake_n_outcome = intake_n_outcome.rename(columns=column_order)[column_order.values()]
intake_n_outcome.head()

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype
0,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,6 years,2014-03-08 17:10:00,6 years,Public Assist,Normal,Return to Owner,NaN
1,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,7 years,2014-12-20 16:35:00,7 years,Public Assist,Normal,Return to Owner,NaN
2,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,10 years,2017-12-07 00:00:00,10 years,Stray,Normal,Return to Owner,NaN
3,A047759,Oreo,Dog,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,10 years,2014-04-07 15:12:00,10 years,Owner Surrender,Normal,Transfer,Partner
4,A134067,Bandit,Dog,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,16 years,2013-11-16 11:54:00,16 years,Public Assist,Injured,Return to Owner,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157549,A893985,Chess,Cat,Unknown,Domestic Shorthair,Brown Tabby,NaT,Austin (TX),2023-12-01 12:33:00,2 years,NaT,NaN,Owner Surrender,Normal,NaN,NaN
157550,A893986,Binx,Cat,Unknown,Domestic Shorthair,Black,NaT,Austin (TX),2023-12-01 12:33:00,2 years,NaT,NaN,Owner Surrender,Normal,NaN,NaN
157551,A893987,NaN,Dog,Unknown,Blue Lacy,Fawn,NaT,Cotton Bluff And William Cannon in Austin (TX),2023-12-01 13:20:00,2 years,NaT,NaN,Stray,Sick,NaN,NaN
157552,A893988,Phyllis,Dog,Unknown,Labrador Retriever,Black,NaT,11800 Comedro Way in Travis (TX),2023-12-01 13:42:00,8 years,NaT,NaN,Stray,Normal,NaN,NaN
157553,A893989,NaN,Dog,Unknown,Labrador Retriever Mix,Brown Brindle/White,NaT,Imperial Dr And Fm 969 in Austin (TX),2023-12-01 13:36:00,5 months,NaT,NaN,Stray,Normal,NaN,NaN

### **Calculate age upon intake and outcome (in years) to 1 decimal point**

In [33]:
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="intake_datetime", unit="years", col_suffix="intake")
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="outcome_datetime", unit="years", col_suffix="outcome")

0          6.7
1          7.4
2         10.4
3         10.0
4         16.1
          ...
157549     NaN
157550     NaN
157551     NaN
157552     NaN
157553     NaN
Name: age_upon_outcome(years), Length: 157553, dtype: float64

### **Calculate the duration an animal stays in the center (in days)**

In [34]:
calculate_time_delta(intake_n_outcome, start="intake_datetime", end="outcome_datetime", unit="days")

0         1.0
1         1.0
2        -1.0
3         4.0
4         0.0
         ...
157549    NaN
157550    NaN
157551    NaN
157552    NaN
157553    NaN
Name: duration(days), Length: 157553, dtype: float64

In [35]:
intake_n_outcome.head()

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype,age_upon_intake(years),age_upon_outcome(years),duration(days)
0,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,6 years,2014-03-08 17:10:00,6 years,Public Assist,Normal,Return to Owner,NaN,6.7,6.7,1.0
1,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,7 years,2014-12-20 16:35:00,7 years,Public Assist,Normal,Return to Owner,NaN,7.4,7.4,1.0
2,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,10 years,2017-12-07 00:00:00,10 years,Stray,Normal,Return to Owner,NaN,10.4,10.4,-1.0
3,A047759,Oreo,Dog,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,10 years,2014-04-07 15:12:00,10 years,Owner Surrender,Normal,Transfer,Partner,10.0,10.0,4.0
4,A134067,Bandit,Dog,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,16 years,2013-11-16 11:54:00,16 years,Public Assist,Injured,Return to Owner,NaN,16.1,16.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157549,A893985,Chess,Cat,Unknown,Domestic Shorthair,Brown Tabby,NaT,Austin (TX),2023-12-01 12:33:00,2 years,NaT,NaN,Owner Surrender,Normal,NaN,NaN,NaN,NaN,NaN
157550,A893986,Binx,Cat,Unknown,Domestic Shorthair,Black,NaT,Austin (TX),2023-12-01 12:33:00,2 years,NaT,NaN,Owner Surrender,Normal,NaN,NaN,NaN,NaN,NaN
157551,A893987,NaN,Dog,Unknown,Blue Lacy,Fawn,NaT,Cotton Bluff And William Cannon in Austin (TX),2023-12-01 13:20:00,2 years,NaT,NaN,Stray,Sick,NaN,NaN,NaN,NaN,NaN
157552,A893988,Phyllis,Dog,Unknown,Labrador Retriever,Black,NaT,11800 Comedro Way in Travis (TX),2023-12-01 13:42:00,8 years,NaT,NaN,Stray,Normal,NaN,NaN,NaN,NaN,NaN
157553,A893989,NaN,Dog,Unknown,Labrador Retriever Mix,Brown Brindle/White,NaT,Imperial Dr And Fm 969 in Austin (TX),2023-12-01 13:36:00,5 months,NaT,NaN,Stray,Normal,NaN,NaN,NaN,NaN,NaN

### **Check column datatypes and names**

In [36]:
intake_n_outcome.dtypes

animal_id                          object
name                               object
animal_type                        object
sex                                object
breed                              object
color                              object
date_of_birth              datetime64[ns]
found_location                     object
intake_datetime            datetime64[ns]
age_upon_intake                    object
outcome_datetime           datetime64[ns]
age_upon_outcome                   object
intake_type                        object
intake_condition                   object
outcome_type                       object
outcome_subtype                    object
age_upon_intake(years)            float64
age_upon_outcome(years)           float64
duration(days)                    float64
dtype: object

In [37]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'animal_type', 'sex', 'breed', 'color',
       'date_of_birth', 'found_location', 'intake_datetime', 'age_upon_intake',
       'outcome_datetime', 'age_upon_outcome', 'intake_type',
       'intake_condition', 'outcome_type', 'outcome_subtype',
       'age_upon_intake(years)', 'age_upon_outcome(years)', 'duration(days)'],
      dtype='object')

### **Check the value counts of `animal_type`**

In [38]:
intake_n_outcome.animal_type.value_counts()

animal_type
Dog          87150
Cat          61337
Other         8261
Bird           779
Livestock       26
Name: count, dtype: int64

### **Check the value counts of `sex`**

In [39]:
intake_n_outcome.sex.value_counts()

sex
Intact Male      52986
Intact Female    50672
Neutered Male    22559
Spayed Female    19070
Unknown          12264
Name: count, dtype: int64

### **Check the value counts of `breed`**

In [40]:
intake_n_outcome.breed.value_counts()

breed
Domestic Shorthair Mix             33276
Domestic Shorthair                 17563
Pit Bull Mix                        9645
Labrador Retriever Mix              8168
Chihuahua Shorthair Mix             6737
                                   ...
Pit Bull/American Foxhound             1
Pit Bull/Dogue De Bordeaux             1
English Springer Spaniel/Beagle        1
Goose Mix                              1
Domestic Shorthair/Oriental Sh         1
Name: count, Length: 2887, dtype: int64

### **Check the value counts of `color`**

In [41]:
intake_n_outcome.color.value_counts()

color
Black/White               16422
Black                     13143
Brown Tabby                9375
Brown                      6535
White                      5536
                          ...
Blue Tabby/Buff               1
Red Tick/Blue                 1
Cream/Blue Point              1
Torbie/Silver Tabby           1
Blue Tabby/Brown Tabby        1
Name: count, Length: 635, dtype: int64

### **Check the value counts of `intake_type`**

In [42]:
intake_n_outcome.intake_type.value_counts()

intake_type
Stray                 108064
Owner Surrender        32466
Public Assist           9410
Wildlife                5983
Abandoned               1370
Euthanasia Request       260
Name: count, dtype: int64

### **Check the value counts of `intake_condition`**

In [43]:
intake_n_outcome.intake_condition.value_counts()

intake_condition
Normal        134623
Injured         9424
Sick            6988
Nursing         3920
Neonatal        1065
Aged             502
Other            340
Medical          294
Feral            135
Pregnant         128
Behavior          64
Med Attn          25
Unknown           16
Med Urgent         9
Neurologic         9
Space              4
Parvo              3
Agonal             2
Panleuk            1
Congenital         1
Name: count, dtype: int64

### **Check the value counts of `outcome_type`**

In [44]:
intake_n_outcome.outcome_type.value_counts()

outcome_type
Adoption           73813
Transfer           44890
Return to Owner    24421
Euthanasia          9964
Died                1468
Rto-Adopt           1076
Disposal             766
Missing               84
Relocate              26
Stolen                 5
Name: count, dtype: int64

### **Check the value counts of `outcome_subtype`**

In [45]:
intake_n_outcome.outcome_subtype.value_counts()

outcome_subtype
Partner                37224
Foster                 15308
Rabies Risk             4491
Suffering               3828
Snr                     3504
SCRP                    3204
Out State                931
In Kennel                775
Aggressive               583
Offsite                  477
In Foster                366
Medical                  338
At Vet                   321
Field                    188
Behavior                 157
Enroute                  103
Court/Investigation       63
Underage                  37
In Surgery                32
Customer S                18
Emergency                 17
Possible Theft            16
Prc                       13
Barn                      12
In State                  12
Emer                       7
Name: count, dtype: int64