In [1]:
from data_cleaning_functions import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### **Get data using API endpoint URL**

In [2]:
# API endpoint URL(set the limit to get all data(default is 1000 rows))
urls = {
    "intake": "https://data.austintexas.gov/resource/wter-evkm.csv?$limit=170000",
    "outcome": "https://data.austintexas.gov/resource/9t4d-g238.csv?$limit=170000"
    }
intake, outcome = get_data(urls)

Successfully get INTAKE data(157818 rows)...
Successfully get OUTCOME data(157773 rows)...

### **Check number of rows, columns, and duplicated rows**

In [3]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157818 rows | 12 columns | 30 duplicated rows
OUTCOME data: 157773 rows | 12 columns | 23 duplicated rows

### **Drop duplicates**

In [4]:
intake.drop_duplicates(inplace=True)
outcome.drop_duplicates(inplace=True)

### **Check number of rows, columns, and duplicated rows after dropping duplicates**

In [5]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157788 rows | 12 columns | 0 duplicated rows
OUTCOME data: 157750 rows | 12 columns | 0 duplicated rows

### **Remove `datetime2` in `intake` data and `monthyear` in `outcome` data**

In [6]:
intake.drop("datetime2", axis=1, inplace = True)
outcome.drop("monthyear", axis=1, inplace = True)

In [7]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A665644,NaN,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
1,A665739,*Alana,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
2,A665763,NaN,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White
3,A379998,Disciple,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black
4,A634503,Otter,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan

In [8]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

### **Sort data by `animal_id` and `datetime`**

In [9]:
intake = intake.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)
outcome = outcome.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)

In [10]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02T15:55:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [11]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08T17:10:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20T16:35:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T00:00:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07T15:12:00.000,2004-04-02T00:00:00.000,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T11:54:00.000,1997-10-16T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

### **Change format for datetime**

In [12]:
# date_format(df, col, format)
date_format(intake, "datetime", "%Y-%m-%d %H:%M").head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [13]:
date_format(outcome, "datetime", "%Y-%m-%d %H:%M")
date_format(outcome, "date_of_birth", "%Y-%m-%d")

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...,...,...
157745,A894445,Summers,2023-12-10 15:45:00,2022-06-08,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Calico
157746,A894472,Cutie Boy,2023-12-11 07:46:00,2021-12-09,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby/White
157747,A894500,NaN,2023-12-10 12:43:00,2022-12-10,Transfer,Partner,Dog,Intact Male,NaN,Cairn Terrier/Scottish Terrier,Black/Tan
157748,A894504,Kashmir,2023-12-11 12:39:00,2006-12-11,Return to Owner,NaN,Cat,Neutered Male,17 years,Domestic Medium Hair,White/Brown Tabby
157749,A894514,NaN,2023-12-11 08:40:00,2021-12-10,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Brown

### **Check column names before merging dataframes**

In [14]:
intake.columns

Index(['animal_id', 'name', 'datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color'],
      dtype='object')

In [15]:
outcome.columns

Index(['animal_id', 'name', 'datetime', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

### **Drop duplicated columns in outcome data**
`name`, `animal_type`, `breed`, and `color` are columns that exist in both data

In [16]:
outcome.drop(["name", "animal_type", "breed", "color"],
             inplace=True,
             axis=1)

### **Merge dataframes**

In [17]:
intake_n_outcome = merge_intake_n_outcome(intake, outcome)
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,Neutered Male,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,Neutered Male,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,Neutered Male,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,Neutered Male,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,Neutered Male,16 years

In certain cases, an animal's information may be entered multiple times due to updates in basic details such as `intake_type` or `intake_condition`. Consequently, resolving the issue by solely dropping duplicates at the outset may not suffice. Instead, duplicates will be identified if rows exhibit matching values for `animal_id`, `intake_datetime`, and `outcome_datetime`.

In [18]:
intake_n_outcome.drop_duplicates(subset = ["animal_id", "datetime_intake", "datetime_outcome"],
                                 inplace=True)
intake_n_outcome = intake_n_outcome.loc[:,~intake_n_outcome.columns.duplicated()]
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,Neutered Male,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,Neutered Male,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,Neutered Male,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,Neutered Male,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,Neutered Male,16 years

In [19]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'datetime_intake', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'datetime_outcome', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'sex_upon_outcome', 'age_upon_outcome'],
      dtype='object')

### **Reorder columns**

In [20]:
column_order = {
    "animal_id": "animal_id",
    "name": "name",
    "animal_type": "animal_type",
    "sex_upon_intake": "sex_intake",
    "sex_upon_outcome": "sex_outcome",
    "breed": "breed",
    "color": "color",
    "date_of_birth": "date_of_birth",
    "found_location": "found_location",
    "datetime_intake": "intake_datetime",
    "age_upon_intake": "age_upon_intake",
    "datetime_outcome": "outcome_datetime",
    "age_upon_outcome": "age_upon_outcome",
    "intake_type": "intake_type",
    "intake_condition": "intake_condition",
    "outcome_type": "outcome_type",
    "outcome_subtype": "outcome_subtype"
}
intake_n_outcome = intake_n_outcome.rename(columns=column_order)[column_order.values()]
intake_n_outcome

,animal_id,name,animal_type,sex_intake,sex_outcome,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype
0,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,6 years,2014-03-08 17:10:00,6 years,Public Assist,Normal,Return to Owner,NaN
1,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,7 years,2014-12-20 16:35:00,7 years,Public Assist,Normal,Return to Owner,NaN
2,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,10 years,2017-12-07 00:00:00,10 years,Stray,Normal,Return to Owner,NaN
3,A047759,Oreo,Dog,Neutered Male,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,10 years,2014-04-07 15:12:00,10 years,Owner Surrender,Normal,Transfer,Partner
4,A134067,Bandit,Dog,Neutered Male,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,16 years,2013-11-16 11:54:00,16 years,Public Assist,Injured,Return to Owner,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157784,A894540,A894540,Dog,Intact Male,NaN,Blue Lacy Mix,Blue/White,NaT,Rutlan And North Lamar in Austin (TX),2023-12-11 11:24:00,5 months,NaT,NaN,Stray,Normal,NaN,NaN
157785,A894541,A894541,Cat,Intact Female,NaN,Domestic Shorthair Mix,Black,NaT,2439 Town Lake Circle in Austin (TX),2023-12-11 12:12:00,8 months,NaT,NaN,Stray,Normal,NaN,NaN
157786,A894547,A894547,Dog,Intact Female,NaN,Boxer Mix,Brown/White,NaT,6200 Stiles Cove in Austin (TX),2023-12-11 12:59:00,6 years,NaT,NaN,Stray,Normal,NaN,NaN
157787,A894551,A894551,Cat,Intact Female,NaN,Domestic Shorthair Mix,Tortie,NaT,3002 Cheviot Lane in Austin (TX),2023-12-11 13:20:00,1 month,NaT,NaN,Stray,Normal,NaN,NaN
157788,A894558,NaN,Dog,Intact Female,NaN,Staffordshire Mix,White/Black,NaT,5301 Decker Lane in Austin (TX),2023-12-11 15:27:00,1 month,NaT,NaN,Stray,Normal,NaN,NaN

### **Calculate age upon intake and outcome (in years) to 1 decimal point**

In [21]:
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="intake_datetime", unit="years", col_suffix="intake")
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="outcome_datetime", unit="years", col_suffix="outcome")

0          6.7
1          7.4
2         10.4
3         10.0
4         16.1
          ...
157784     NaN
157785     NaN
157786     NaN
157787     NaN
157788     NaN
Name: age_upon_outcome(years), Length: 157788, dtype: float64

### **Calculate the duration an animal stays in the center (in days)**

In [22]:
calculate_time_delta(intake_n_outcome, start="intake_datetime", end="outcome_datetime", unit="days")

0         1.0
1         1.0
2        -1.0
3         4.0
4         0.0
         ...
157784    NaN
157785    NaN
157786    NaN
157787    NaN
157788    NaN
Name: duration(days), Length: 157788, dtype: float64

In [23]:
intake_n_outcome.drop(["age_upon_intake", "age_upon_outcome"],
                      axis=1,
                      inplace=True)

In [24]:
intake_n_outcome.head()

,animal_id,name,animal_type,sex_intake,sex_outcome,breed,color,date_of_birth,found_location,intake_datetime,outcome_datetime,intake_type,intake_condition,outcome_type,outcome_subtype,age_upon_intake(years),age_upon_outcome(years),duration(days)
0,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,2014-03-08 17:10:00,Public Assist,Normal,Return to Owner,NaN,6.7,6.7,1.0
1,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,2014-12-20 16:35:00,Public Assist,Normal,Return to Owner,NaN,7.4,7.4,1.0
2,A006100,Scamp,Dog,Neutered Male,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,2017-12-07 00:00:00,Stray,Normal,Return to Owner,NaN,10.4,10.4,-1.0
3,A047759,Oreo,Dog,Neutered Male,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,2014-04-07 15:12:00,Owner Surrender,Normal,Transfer,Partner,10.0,10.0,4.0
4,A134067,Bandit,Dog,Neutered Male,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,2013-11-16 11:54:00,Public Assist,Injured,Return to Owner,NaN,16.1,16.1,0.0

### **Check column datatypes and names**

In [25]:
intake_n_outcome.dtypes

animal_id                          object
name                               object
animal_type                        object
sex_intake                         object
sex_outcome                        object
breed                              object
color                              object
date_of_birth              datetime64[ns]
found_location                     object
intake_datetime            datetime64[ns]
outcome_datetime           datetime64[ns]
intake_type                        object
intake_condition                   object
outcome_type                       object
outcome_subtype                    object
age_upon_intake(years)            float64
age_upon_outcome(years)           float64
duration(days)                    float64
dtype: object

In [26]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'animal_type', 'sex_intake', 'sex_outcome',
       'breed', 'color', 'date_of_birth', 'found_location', 'intake_datetime',
       'outcome_datetime', 'intake_type', 'intake_condition', 'outcome_type',
       'outcome_subtype', 'age_upon_intake(years)', 'age_upon_outcome(years)',
       'duration(days)'],
      dtype='object')

### **Check the value counts of `animal_type`**

In [27]:
intake_n_outcome.animal_type.value_counts()

animal_type
Dog          87272
Cat          61444
Other         8266
Bird           780
Livestock       26
Name: count, dtype: int64

### **Check the value counts of `sex`**

In [28]:
intake_n_outcome.sex_intake.value_counts()

sex_intake
Intact Male      53067
Intact Female    50765
Neutered Male    22587
Spayed Female    19090
Unknown          12277
Name: count, dtype: int64

In [29]:
intake_n_outcome.sex_outcome.value_counts()

sex_outcome
Neutered Male    54857
Spayed Female    49594
Intact Male      20274
Intact Female    19828
Unknown          12259
Name: count, dtype: int64

### **Check the value counts of `breed`**

In [30]:
intake_n_outcome.breed.value_counts()

breed
Domestic Shorthair Mix             33297
Domestic Shorthair                 17631
Pit Bull Mix                        9651
Labrador Retriever Mix              8176
Chihuahua Shorthair Mix             6742
                                   ...
Pit Bull/American Foxhound             1
Pit Bull/Dogue De Bordeaux             1
English Springer Spaniel/Beagle        1
Goose Mix                              1
Domestic Shorthair/Oriental Sh         1
Name: count, Length: 2887, dtype: int64

### **Check the value counts of `color`**

In [31]:
intake_n_outcome.color.value_counts()

color
Black/White               16446
Black                     13169
Brown Tabby                9390
Brown                      6542
White                      5544
                          ...
Blue Tabby/Buff               1
Red Tick/Blue                 1
Cream/Blue Point              1
Torbie/Silver Tabby           1
Blue Tabby/Brown Tabby        1
Name: count, Length: 635, dtype: int64

### **Check the value counts of `intake_type`**

In [32]:
intake_n_outcome.intake_type.value_counts()

intake_type
Stray                 108178
Owner Surrender        32557
Public Assist           9423
Wildlife                5985
Abandoned               1385
Euthanasia Request       260
Name: count, dtype: int64

### **Check the value counts of `intake_condition`**

In [33]:
intake_n_outcome.intake_condition.value_counts()

intake_condition
Normal        134816
Injured         9442
Sick            7002
Nursing         3916
Neonatal        1075
Aged             503
Other            340
Medical          297
Feral            135
Pregnant         128
Behavior          64
Med Attn          25
Unknown           16
Med Urgent         9
Neurologic         9
Space              4
Parvo              3
Agonal             2
Panleuk            1
Congenital         1
Name: count, dtype: int64

### **Check the value counts of `outcome_type`**

In [34]:
intake_n_outcome.outcome_type.value_counts()

outcome_type
Adoption           73997
Transfer           44944
Return to Owner    24440
Euthanasia          9967
Died                1470
Rto-Adopt           1082
Disposal             768
Missing               84
Relocate              26
Stolen                 5
Name: count, dtype: int64

### **Check the value counts of `outcome_subtype`**

In [35]:
intake_n_outcome.outcome_subtype.value_counts()

outcome_subtype
Partner                37264
Foster                 15354
Rabies Risk             4494
Suffering               3829
Snr                     3518
SCRP                    3204
Out State                931
In Kennel                777
Aggressive               583
Offsite                  477
In Foster                366
Medical                  338
At Vet                   321
Field                    188
Behavior                 157
Enroute                  103
Court/Investigation       63
Underage                  37
In Surgery                32
Customer S                18
Emergency                 17
Possible Theft            16
Prc                       13
Barn                      12
In State                  12
Emer                       7
Name: count, dtype: int64

## **Save as csv**

In [36]:
intake_n_outcome.to_csv("data/animal_center.csv", index=False)