In [16]:
import pandas as pd
import numpy as np
import requests

## **Get data using API**

In [19]:
def get_data(urls):
    # Store data in dictionaries
    data_dict = {}

    # Make a GET request to fetch the data
    for file_name, url in urls.items():
        response = requests.get(url)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:

            # Read the response content (CSV data) into a pandas DataFrame
            data = pd.read_csv(url)

            # Store the DataFrame in the dictionary
            data_dict[file_name] = data

            # Display the first few rows of the data
            print(f"Successfully get {file_name.upper()} data({len(data_dict[file_name])}rows)...")
        else:
            print(f"Failed to retrieve {file_name.upper()} data. Status code:", response.status_code)

    # Access the DataFrames by their labels
    intake = data_dict["intake"]
    outcome = data_dict["outcome"]
    
    return intake, outcome

In [20]:
# API endpoint URL(set the limit to get all data(default is 1000 rows))
urls = {
    "intake": "https://data.austintexas.gov/resource/wter-evkm.csv?$limit=160000",
    "outcome": "https://data.austintexas.gov/resource/9t4d-g238.csv?$limit=160000"
    }
intake, outcome = get_data(urls)

Successfully get INTAKE data(157513rows)...
Successfully get OUTCOME data(157442rows)...

In [21]:
intake.shape

(157513, 12)

In [22]:
intake.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [5]:
outcome.shape

(157226, 12)

In [6]:
outcome.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

### Remove `datetime2` in `intake` data and `monthyear` in `outcome` data

In [7]:
intake.drop("datetime2", axis=1, inplace = True)
outcome.drop("monthyear", axis=1, inplace = True)

In [8]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [9]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [10]:
data_file = [intake, outcome]

for i, data in enumerate(data_file):
    data_file[i] = data.sort_values(by=["animal_id", "datetime"], ascending=True)\
                       .reset_index(drop=True)

intake = data_file[0]
outcome = data_file[1]

In [11]:
intake.head(10)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02T15:55:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
5,A141142,Bettie,2013-11-16T14:46:00.000,Austin (TX),Stray,Aged,Dog,Spayed Female,15 years,Labrador Retriever/Pit Bull,Black/White
6,A163459,Sasha,2014-11-14T15:11:00.000,Ih 35 And 41St St in Austin (TX),Stray,Normal,Dog,Intact Female,15 years,Miniature Schnauzer Mix,Black/Gray
7,A165752,Pep,2014-09-15T11:28:00.000,Gatlin Gun Rd And Brodie in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Lhasa Apso Mix,Brown/White
8,A169438,NaN,2018-04-04T20:37:00.000,Dessau in Austin (TX),Stray,Normal,Bird,Unknown,18 years,Dove Mix,Gray/White
9,A178569,Boti,2014-03-17T09:45:00.000,Austin (TX),Public Assist,Normal,Dog,Neutered Male,15 years,Shetland Sheepdog Mix,White/Black

In [12]:
outcome.head(10)

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08T17:10:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20T16:35:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T00:00:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07T15:12:00.000,2004-04-02T00:00:00.000,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T11:54:00.000,1997-10-16T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
5,A141142,Bettie,2013-11-17T11:40:00.000,1998-06-01T00:00:00.000,Return to Owner,NaN,Dog,Spayed Female,15 years,Labrador Retriever/Pit Bull,Black/White
6,A163459,Sasha,2014-11-14T19:28:00.000,1999-10-19T00:00:00.000,Return to Owner,NaN,Dog,Intact Female,15 years,Miniature Schnauzer Mix,Black/Gray
7,A165752,Pep,2014-09-15T16:35:00.000,1999-08-18T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,15 years,Lhasa Apso Mix,Brown/White
8,A169438,NaN,2018-04-04T20:47:00.000,1999-12-23T00:00:00.000,Relocate,NaN,Bird,Unknown,18 years,Dove Mix,Gray/White
9,A178569,Boti,2014-03-23T15:57:00.000,1999-03-17T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,15 years,Shetland Sheepdog Mix,White/Black

### `date_format` function

In [13]:
def date_format(df, col, format):
    df[col] = pd.to_datetime(df[col])
    df[col] = df[col].dt.strftime(format)
    return df

In [14]:
date_format(intake, "datetime", "%Y-%m-%d %H:%M")

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07 14:26,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19 10:21,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 14:07,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02 15:55,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 09:02,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...,...,...
157352,A893443,NaN,2023-11-21 12:10,1508 Fairfield Dr in Austin (TX),Stray,Normal,Cat,Unknown,2 years,Domestic Shorthair,Black
157353,A893447,NaN,2023-11-21 12:28,South Interstate 35 And East Riverside Drive i...,Stray,Normal,Cat,Unknown,2 years,Domestic Shorthair,Blue Tabby/Brown Tabby
157354,A893452,Sophie,2023-11-21 13:38,9101 La Cresada Drive Apt# 1934 in Austin (TX),Public Assist,Normal,Dog,Intact Female,2 years,Bichon Frise,White
157355,A893454,NaN,2023-11-21 13:26,Austin (TX),Owner Surrender,Normal,Other,Unknown,1 year,Guinea Pig,Tricolor/White
157356,A893455,NaN,2023-11-21 13:26,Austin (TX),Owner Surrender,Normal,Other,Unknown,1 year,Guinea Pig,White/Tricolor

In [15]:
date_format(outcome, "datetime", "%Y-%m-%d %H:%M")
date_format(outcome, "date_of_birth", "%Y-%m-%d")

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08 17:10,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20 16:35,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 00:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07 15:12,2004-04-02,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 11:54,1997-10-16,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...,...,...
157221,A893306,NaN,2023-11-19 12:27,2013-11-19,Euthanasia,Suffering,Cat,Intact Female,NaN,Domestic Shorthair,Brown Tabby/White
157222,A893355,NaN,2023-11-21 11:23,2018-11-21,Return to Owner,NaN,Dog,Neutered Male,5 years,Miniature Poodle,Apricot
157223,A893384,Wolfy,2023-11-21 09:20,2010-01-01,Euthanasia,Suffering,Cat,Neutered Male,NaN,Domestic Medium Hair,Black
157224,A893399,NaN,2023-11-21 12:21,2023-09-20,Transfer,Partner,Dog,Intact Female,2 months,Pit Bull,White/Black
157225,A893400,NaN,2023-11-21 12:21,2023-09-20,Transfer,Partner,Dog,Intact Male,2 months,Pit Bull,Black/White