In [1]:
# import pandas as pd
from data_cleaning_functions import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### **Get data using API endpoint URL**

In [2]:
# API endpoint URL(set the limit to get all data(default is 1000 rows))
urls = {
    "intake": "https://data.austintexas.gov/resource/wter-evkm.csv?$limit=160000",
    "outcome": "https://data.austintexas.gov/resource/9t4d-g238.csv?$limit=160000"
    }
intake, outcome = get_data(urls)

Successfully get INTAKE data(157615 rows)...
Successfully get OUTCOME data(157530 rows)...

### **Check number of rows, columns, and duplicated rows**

In [3]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157615 rows | 12 columns | 30 duplicated rows
OUTCOME data: 157530 rows | 12 columns | 23 duplicated rows

### **Drop duplicates**

In [4]:
intake.drop_duplicates(inplace=True)
outcome.drop_duplicates(inplace=True)

### **Check number of rows, columns, and duplicated rows after dropping duplicates**

In [5]:
print(f"INTAKE  data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE  data: 157585 rows | 12 columns | 0 duplicated rows
OUTCOME data: 157507 rows | 12 columns | 0 duplicated rows

### **Remove `datetime2` in `intake` data and `monthyear` in `outcome` data**

In [6]:
intake.drop("datetime2", axis=1, inplace = True)
outcome.drop("monthyear", axis=1, inplace = True)

In [7]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [8]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

### **Sort data by `animal_id` and `datetime`**

In [9]:
intake = intake.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)
outcome = outcome.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)

In [10]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07T14:26:00.000,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02T15:55:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T09:02:00.000,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [11]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08T17:10:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20T16:35:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07T00:00:00.000,2007-07-09T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07T15:12:00.000,2004-04-02T00:00:00.000,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16T11:54:00.000,1997-10-16T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

### **Change format for datetime**

In [12]:
# date_format(df, col, format)
date_format(intake, "datetime", "%Y-%m-%d %H:%M").head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [13]:
date_format(outcome, "datetime", "%Y-%m-%d %H:%M")
date_format(outcome, "date_of_birth", "%Y-%m-%d")

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A006100,Scamp,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
1,A006100,Scamp,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
2,A006100,Scamp,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
3,A047759,Oreo,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
4,A134067,Bandit,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...,...,...
157502,A894008,NaN,2023-12-01 16:00:00,2023-11-20,Transfer,Partner,Cat,Unknown,1 weeks,Domestic Shorthair,Black
157503,A894009,NaN,2023-12-01 16:00:00,2023-11-20,Transfer,Partner,Cat,Unknown,1 weeks,Domestic Shorthair,Black
157504,A894010,NaN,2023-12-01 16:00:00,2023-11-20,Transfer,Partner,Cat,Unknown,1 weeks,Domestic Shorthair,Black
157505,A894011,NaN,2023-12-01 16:00:00,2023-11-20,Transfer,Partner,Cat,Unknown,1 weeks,Domestic Shorthair,Black
157506,A894012,NaN,2023-12-01 16:00:00,2023-11-20,Transfer,Partner,Cat,Unknown,1 weeks,Domestic Shorthair,Black

### **Check column names before merging dataframes**

In [14]:
intake.columns

Index(['animal_id', 'name', 'datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color'],
      dtype='object')

In [15]:
outcome.columns

Index(['animal_id', 'name', 'datetime', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

### **Drop duplicated columns in outcome data**
`name`, `animal_type`, `sex_upon_outcome`, `breed`, and `color` are columns that exist in both data

In [16]:
outcome.drop(["name", "animal_type", "sex_upon_outcome", "breed", "color"],
             inplace=True,
             axis=1)

### **Merge dataframes**

In [17]:
intake_n_outcome = merge_intake_n_outcome(intake, outcome)
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,16 years

In certain cases, an animal's information may be entered multiple times due to updates in basic details such as `intake_type` or `intake_condition`. Consequently, resolving the issue by solely dropping duplicates at the outset may not suffice. Instead, duplicates will be identified if rows exhibit matching values for `animal_id`, `intake_datetime`, and `outcome_datetime`.

In [18]:
intake_n_outcome.drop_duplicates(subset = ["animal_id", "datetime_intake", "datetime_outcome"],
                                 inplace=True)
intake_n_outcome = intake_n_outcome.loc[:,~intake_n_outcome.columns.duplicated()]
intake_n_outcome.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2014-03-08 17:10:00,2007-07-09,Return to Owner,NaN,6 years
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2014-12-20 16:35:00,2007-07-09,Return to Owner,NaN,7 years
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,2017-12-07 00:00:00,2007-07-09,Return to Owner,NaN,10 years
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,2014-04-07 15:12:00,2004-04-02,Transfer,Partner,10 years
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White,2013-11-16 11:54:00,1997-10-16,Return to Owner,NaN,16 years

In [19]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'datetime_intake', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'datetime_outcome', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'age_upon_outcome'],
      dtype='object')

### **Reorder columns**

In [20]:
column_order = {
    "animal_id": "animal_id",
    "name": "name",
    "animal_type": "animal_type",
    "sex_upon_intake": "sex",
    "breed": "breed",
    "color": "color",
    "date_of_birth": "date_of_birth",
    "found_location": "found_location",
    "datetime_intake": "intake_datetime",
    "age_upon_intake": "age_upon_intake",
    "datetime_outcome": "outcome_datetime",
    "age_upon_outcome": "age_upon_outcome",
    "intake_type": "intake_type",
    "intake_condition": "intake_condition",
    "outcome_type": "outcome_type",
    "outcome_subtype": "outcome_subtype"
}
intake_n_outcome = intake_n_outcome.rename(columns=column_order)[column_order.values()]
intake_n_outcome.head()

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype
0,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,6 years,2014-03-08 17:10:00,6 years,Public Assist,Normal,Return to Owner,NaN
1,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,7 years,2014-12-20 16:35:00,7 years,Public Assist,Normal,Return to Owner,NaN
2,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,10 years,2017-12-07 00:00:00,10 years,Stray,Normal,Return to Owner,NaN
3,A047759,Oreo,Dog,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,10 years,2014-04-07 15:12:00,10 years,Owner Surrender,Normal,Transfer,Partner
4,A134067,Bandit,Dog,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,16 years,2013-11-16 11:54:00,16 years,Public Assist,Injured,Return to Owner,NaN

### **Calculate age upon intake and outcome (in years) to 1 decimal point**

In [21]:
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="intake_datetime", unit="years", col_suffix="intake")
calculate_time_delta(intake_n_outcome, start="date_of_birth", end="outcome_datetime", unit="years", col_suffix="outcome")

0          6.7
1          7.4
2         10.4
3         10.0
4         16.1
          ...
157581     NaN
157582     NaN
157583     NaN
157584     NaN
157585     NaN
Name: age_upon_outcome(years), Length: 157585, dtype: float64

### **Calculate the duration an animal stays in the center (in days)**

In [22]:
calculate_time_delta(intake_n_outcome, start="intake_datetime", end="outcome_datetime", unit="days")

0         1.0
1         1.0
2        -1.0
3         4.0
4         0.0
         ...
157581    NaN
157582    NaN
157583    NaN
157584    NaN
157585    NaN
Name: duration(days), Length: 157585, dtype: float64

In [23]:
intake_n_outcome.head()

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype,age_upon_intake(years),age_upon_outcome(years),duration(days)
0,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research in Austin (TX),2014-03-07 14:26:00,6 years,2014-03-08 17:10:00,6 years,Public Assist,Normal,Return to Owner,NaN,6.7,6.7,1.0
1,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,8700 Research Blvd in Austin (TX),2014-12-19 10:21:00,7 years,2014-12-20 16:35:00,7 years,Public Assist,Normal,Return to Owner,NaN,7.4,7.4,1.0
2,A006100,Scamp,Dog,Neutered Male,Spinone Italiano Mix,Yellow/White,2007-07-09,Colony Creek And Hunters Trace in Austin (TX),2017-12-07 14:07:00,10 years,2017-12-07 00:00:00,10 years,Stray,Normal,Return to Owner,NaN,10.4,10.4,-1.0
3,A047759,Oreo,Dog,Neutered Male,Dachshund,Tricolor,2004-04-02,Austin (TX),2014-04-02 15:55:00,10 years,2014-04-07 15:12:00,10 years,Owner Surrender,Normal,Transfer,Partner,10.0,10.0,4.0
4,A134067,Bandit,Dog,Neutered Male,Shetland Sheepdog,Brown/White,1997-10-16,12034 Research Blvd in Austin (TX),2013-11-16 09:02:00,16 years,2013-11-16 11:54:00,16 years,Public Assist,Injured,Return to Owner,NaN,16.1,16.1,0.0

### **Check column datatypes and names**

In [24]:
intake_n_outcome.dtypes

animal_id                          object
name                               object
animal_type                        object
sex                                object
breed                              object
color                              object
date_of_birth              datetime64[ns]
found_location                     object
intake_datetime            datetime64[ns]
age_upon_intake                    object
outcome_datetime           datetime64[ns]
age_upon_outcome                   object
intake_type                        object
intake_condition                   object
outcome_type                       object
outcome_subtype                    object
age_upon_intake(years)            float64
age_upon_outcome(years)           float64
duration(days)                    float64
dtype: object

In [25]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'animal_type', 'sex', 'breed', 'color',
       'date_of_birth', 'found_location', 'intake_datetime', 'age_upon_intake',
       'outcome_datetime', 'age_upon_outcome', 'intake_type',
       'intake_condition', 'outcome_type', 'outcome_subtype',
       'age_upon_intake(years)', 'age_upon_outcome(years)', 'duration(days)'],
      dtype='object')

### **Check the value counts of `animal_type`**

In [26]:
intake_n_outcome.animal_type.value_counts()

animal_type
Dog          87167
Cat          61351
Other         8261
Bird           780
Livestock       26
Name: count, dtype: int64

### **Check the value counts of `sex`**

In [27]:
intake_n_outcome.sex.value_counts()

sex
Intact Male      52992
Intact Female    50678
Neutered Male    22560
Spayed Female    19073
Unknown          12280
Name: count, dtype: int64

### **Check the value counts of `breed`**

In [28]:
intake_n_outcome.breed.value_counts()

breed
Domestic Shorthair Mix             33276
Domestic Shorthair                 17577
Pit Bull Mix                        9655
Labrador Retriever Mix              8168
Chihuahua Shorthair Mix             6737
                                   ...
Pit Bull/American Foxhound             1
Pit Bull/Dogue De Bordeaux             1
English Springer Spaniel/Beagle        1
Goose Mix                              1
Domestic Shorthair/Oriental Sh         1
Name: count, Length: 2887, dtype: int64

### **Check the value counts of `color`**

In [29]:
intake_n_outcome.color.value_counts()

color
Black/White               16426
Black                     13149
Brown Tabby                9375
Brown                      6535
White                      5536
                          ...
Blue Tabby/Buff               1
Red Tick/Blue                 1
Cream/Blue Point              1
Torbie/Silver Tabby           1
Blue Tabby/Brown Tabby        1
Name: count, Length: 635, dtype: int64

### **Check the value counts of `intake_type`**

In [30]:
intake_n_outcome.intake_type.value_counts()

intake_type
Stray                 108068
Owner Surrender        32488
Public Assist           9410
Wildlife                5983
Abandoned               1376
Euthanasia Request       260
Name: count, dtype: int64

### **Check the value counts of `intake_condition`**

In [31]:
intake_n_outcome.intake_condition.value_counts()

intake_condition
Normal        134646
Injured         9426
Sick            6989
Nursing         3920
Neonatal        1071
Aged             502
Other            340
Medical          294
Feral            135
Pregnant         128
Behavior          64
Med Attn          25
Unknown           16
Med Urgent         9
Neurologic         9
Space              4
Parvo              3
Agonal             2
Panleuk            1
Congenital         1
Name: count, dtype: int64

### **Check the value counts of `outcome_type`**

In [32]:
intake_n_outcome.outcome_type.value_counts()

outcome_type
Adoption           73829
Transfer           44898
Return to Owner    24423
Euthanasia          9964
Died                1468
Rto-Adopt           1077
Disposal             766
Missing               84
Relocate              26
Stolen                 5
Name: count, dtype: int64

### **Check the value counts of `outcome_subtype`**

In [33]:
intake_n_outcome.outcome_subtype.value_counts()

outcome_subtype
Partner                37232
Foster                 15309
Rabies Risk             4491
Suffering               3828
Snr                     3504
SCRP                    3204
Out State                931
In Kennel                775
Aggressive               583
Offsite                  477
In Foster                366
Medical                  338
At Vet                   321
Field                    188
Behavior                 157
Enroute                  103
Court/Investigation       63
Underage                  37
In Surgery                32
Customer S                18
Emergency                 17
Possible Theft            16
Prc                       13
Barn                      12
In State                  12
Emer                       7
Name: count, dtype: int64

## **Save as csv**

In [35]:
intake_n_outcome.to_csv("data/animal_center.csv", index=False)