In [1]:
import numpy as np
import pandas as pd
import requests
from data_cleaning import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## **Get data using API**

In [2]:
# API endpoint URL(set the limit to get all data(default is 1000 rows))
urls = {
    "intake": "https://data.austintexas.gov/resource/wter-evkm.csv?$limit=160000",
    "outcome": "https://data.austintexas.gov/resource/9t4d-g238.csv?$limit=160000"
    }
intake, outcome = get_data(urls)

Successfully get INTAKE data(157554 rows)...
Successfully get OUTCOME data(157473 rows)...

## Check number of rows, columns, and duplicated rows

In [5]:
print(f"INTAKE data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE data: 10 rows | 12 columns | 0 duplicated rows
OUTCOME data: 13 rows | 12 columns | 0 duplicated rows

## Drop duplicates

In [6]:
intake.drop_duplicates(inplace=True)
outcome.drop_duplicates(inplace=True)

## Check number of rows, columns, and duplicated rows again

In [7]:
print(f"INTAKE data: {intake.shape[0]} rows | {intake.shape[1]} columns | {intake.duplicated().sum()} duplicated rows")
print(f"OUTCOME data: {outcome.shape[0]} rows | {outcome.shape[1]} columns | {outcome.duplicated().sum()} duplicated rows")

INTAKE data: 10 rows | 12 columns | 0 duplicated rows
OUTCOME data: 13 rows | 12 columns | 0 duplicated rows

## Remove `datetime2` in `intake` data and `monthyear` in `outcome` data

In [8]:
intake.drop("datetime2", axis=1, inplace = True)
outcome.drop("monthyear", axis=1, inplace = True)

In [9]:
intake

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
5,A743852,Odin,2017-02-18T12:46:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate
6,A635072,Beowulf,2019-04-16T09:53:00.000,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black
7,A708452,Mumble,2015-07-30T14:37:00.000,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White
8,A844350,*Ella,2021-10-15T11:40:00.000,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A818975,NaN,2020-06-18T14:53:00.000,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby

In [10]:
outcome

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
5,A659412,Princess,2020-10-05T14:37:00.000,2013-03-24T00:00:00.000,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
6,A814515,Quentin,2020-05-06T07:59:00.000,2018-03-01T00:00:00.000,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
7,A881795,NaN,2023-06-13T07:13:00.000,2021-05-26T00:00:00.000,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
8,A689724,*Donatello,2014-10-18T18:52:00.000,2014-08-01T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
9,A680969,*Zeus,2014-08-05T16:59:00.000,2014-06-03T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
10,A840370,Tulip,2021-08-19T19:36:00.000,2019-08-06T00:00:00.000,Adoption,NaN,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White
11,A684617,NaN,2014-07-27T09:00:00.000,2012-07-26T00:00:00.000,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
12,A742354,Artemis,2017-01-22T11:56:00.000,2010-01-20T00:00:00.000,Return to Owner,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White

In [11]:
intake = intake.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)
outcome = outcome.sort_values(by=["animal_id", "datetime"], ascending=True).reset_index(drop=True)

In [12]:
intake

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A635072,Beowulf,2019-04-16T09:53:00.000,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black
1,A682524,Rio,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
2,A706918,Belle,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
3,A708452,Mumble,2015-07-30T14:37:00.000,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White
4,A724273,Runster,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
5,A743852,Odin,2017-02-18T12:46:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate
6,A786884,*Brock,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
7,A818975,NaN,2020-06-18T14:53:00.000,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
8,A844350,*Ella,2021-10-15T11:40:00.000,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A857105,Johnny Ringo,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [13]:
outcome

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A659412,Princess,2020-10-05T14:37:00.000,2013-03-24T00:00:00.000,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
1,A674754,NaN,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A680969,*Zeus,2014-08-05T16:59:00.000,2014-06-03T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
3,A684617,NaN,2014-07-27T09:00:00.000,2012-07-26T00:00:00.000,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
4,A689724,*Donatello,2014-10-18T18:52:00.000,2014-08-01T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
5,A720371,Moose,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
6,A742354,Artemis,2017-01-22T11:56:00.000,2010-01-20T00:00:00.000,Return to Owner,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White
7,A776359,Gizmo,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
8,A794011,Chunk,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
9,A814515,Quentin,2020-05-06T07:59:00.000,2018-03-01T00:00:00.000,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
10,A821648,NaN,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
11,A840370,Tulip,2021-08-19T19:36:00.000,2019-08-06T00:00:00.000,Adoption,NaN,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White
12,A881795,NaN,2023-06-13T07:13:00.000,2021-05-26T00:00:00.000,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby

## format datetime

In [14]:
# date_format(df, col, format)
date_format(intake, "datetime", "%Y-%m-%d %H:%M")

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black
1,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
2,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
3,A708452,Mumble,2015-07-30 14:37:00,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White
4,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate
6,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
7,A818975,NaN,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
8,A844350,*Ella,2021-10-15 11:40:00,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A857105,Johnny Ringo,2022-05-12 00:23:00,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [15]:
date_format(outcome, "datetime", "%Y-%m-%d %H:%M")
date_format(outcome, "date_of_birth", "%Y-%m-%d")

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A659412,Princess,2020-10-05 14:37:00,2013-03-24,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
1,A674754,NaN,2014-03-18 11:47:00,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A680969,*Zeus,2014-08-05 16:59:00,2014-06-03,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
3,A684617,NaN,2014-07-27 09:00:00,2012-07-26,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
4,A689724,*Donatello,2014-10-18 18:52:00,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
5,A720371,Moose,2016-02-13 17:59:00,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
6,A742354,Artemis,2017-01-22 11:56:00,2010-01-20,Return to Owner,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White
7,A776359,Gizmo,2018-07-18 16:02:00,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
8,A794011,Chunk,2019-05-08 18:20:00,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
9,A814515,Quentin,2020-05-06 07:59:00,2018-03-01,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
10,A821648,NaN,2020-08-16 11:38:00,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
11,A840370,Tulip,2021-08-19 19:36:00,2019-08-06,Adoption,NaN,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White
12,A881795,NaN,2023-06-13 07:13:00,2021-05-26,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby

# Merge dataframes

In [16]:
intake.columns

Index(['animal_id', 'name', 'datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color'],
      dtype='object')

In [17]:
outcome.columns

Index(['animal_id', 'name', 'datetime', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

# Drop duplicated columns in outcome data

In [18]:
outcome.drop(["name", "animal_type", "sex_upon_outcome", "breed", "color"],
             inplace=True,
             axis=1)

In [19]:
intake_n_outcome = merge_intake_n_outcome(intake, outcome)
intake_n_outcome

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,NaT,NaT,NaT,NaN,NaN,NaN
1,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaT,NaT,NaT,NaN,NaN,NaN
2,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaT,NaT,NaT,NaN,NaN,NaN
3,A708452,Mumble,2015-07-30 14:37:00,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaT,NaT,NaT,NaN,NaN,NaN
4,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaT,NaT,NaT,NaN,NaN,NaN
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,NaT,NaT,NaT,NaN,NaN,NaN
6,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaT,NaT,NaT,NaN,NaN,NaN
7,A818975,NaN,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaT,NaT,NaT,NaN,NaN,NaN
8,A844350,*Ella,2021-10-15 11:40:00,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaT,NaT,NaT,NaN,NaN,NaN
9,A857105,Johnny Ringo,2022-05-12 00:23:00,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby,NaT,NaT,NaT,NaN,NaN,NaN

In certain cases, an animal's information may be entered multiple times due to updates in basic details such as `intake_type` or `intake_condition`. Consequently, resolving the issue by solely dropping duplicates at the outset may not suffice. Instead, duplicates will be identified if rows exhibit matching values for `animal_id`, `intake_datetime`, and `outcome_datetime`.

In [20]:
intake_n_outcome.drop_duplicates(subset = ["animal_id", "datetime_intake", "datetime_outcome"],
                                 inplace=True)
intake_n_outcome = intake_n_outcome.loc[:,~intake_n_outcome.columns.duplicated()]
intake_n_outcome

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,date_of_birth,outcome_type,outcome_subtype,age_upon_outcome
0,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,NaT,NaT,NaN,NaN,NaN
1,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaT,NaT,NaN,NaN,NaN
2,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaT,NaT,NaN,NaN,NaN
3,A708452,Mumble,2015-07-30 14:37:00,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaT,NaT,NaN,NaN,NaN
4,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaT,NaT,NaN,NaN,NaN
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,NaT,NaT,NaN,NaN,NaN
6,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaT,NaT,NaN,NaN,NaN
7,A818975,NaN,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaT,NaT,NaN,NaN,NaN
8,A844350,*Ella,2021-10-15 11:40:00,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaT,NaT,NaN,NaN,NaN
9,A857105,Johnny Ringo,2022-05-12 00:23:00,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby,NaT,NaT,NaN,NaN,NaN

In [21]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'datetime_intake', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'datetime_outcome', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'age_upon_outcome'],
      dtype='object')

In [22]:
column_order = {
    "animal_id": "animal_id",
    "name": "name",
    "animal_type": "animal_type",
    "sex_upon_intake": "sex",
    "breed": "breed",
    "color": "color",
    "date_of_birth": "date_of_birth",
    "found_location": "found_location",
    "datetime_intake": "intake_datetime",
    "age_upon_intake": "age_upon_intake",
    "datetime_outcome": "outcome_datetime",
    "age_upon_outcome": "age_upon_outcome",
    "intake_type": "intake_type",
    "intake_condition": "intake_condition",
    "outcome_type": "outcome_type",
    "outcome_subtype": "outcome_subtype"
}
intake_n_outcome = intake_n_outcome.rename(columns=column_order)[column_order.values()]
intake_n_outcome

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype
0,A635072,Beowulf,Dog,Neutered Male,Great Dane Mix,Black,NaT,415 East Mary Street in Austin (TX),2019-04-16 09:53:00,6 years,NaT,NaN,Public Assist,Normal,NaN,NaN
1,A682524,Rio,Dog,Neutered Male,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaT,800 Grove Blvd in Austin (TX),2014-06-29 10:38:00,4 years,NaT,NaN,Stray,Normal,NaN,NaN
2,A706918,Belle,Dog,Spayed Female,English Springer Spaniel,White/Liver,NaT,9409 Bluegrass Dr in Austin (TX),2015-07-05 12:59:00,8 years,NaT,NaN,Stray,Normal,NaN,NaN
3,A708452,Mumble,Dog,Intact Male,Labrador Retriever Mix,Black/White,NaT,Austin (TX),2015-07-30 14:37:00,2 years,NaT,NaN,Public Assist,Normal,NaN,NaN
4,A724273,Runster,Dog,Intact Male,Basenji Mix,Sable/White,NaT,2818 Palomino Trail in Austin (TX),2016-04-14 18:43:00,11 months,NaT,NaN,Stray,Normal,NaN,NaN
5,A743852,Odin,Dog,Neutered Male,Labrador Retriever Mix,Chocolate,NaT,Austin (TX),2017-02-18 12:46:00,2 years,NaT,NaN,Owner Surrender,Normal,NaN,NaN
6,A786884,*Brock,Dog,Neutered Male,Beagle Mix,Tricolor,NaT,2501 Magin Meadow Dr in Austin (TX),2019-01-03 16:19:00,2 years,NaT,NaN,Stray,Normal,NaN,NaN
7,A818975,NaN,Cat,Intact Male,Domestic Shorthair,Cream Tabby,NaT,Braker Lane And Metric in Travis (TX),2020-06-18 14:53:00,4 weeks,NaT,NaN,Stray,Normal,NaN,NaN
8,A844350,*Ella,Cat,Intact Female,Domestic Shorthair,Brown Tabby,NaT,2112 East William Cannon Drive in Austin (TX),2021-10-15 11:40:00,6 months,NaT,NaN,Stray,Normal,NaN,NaN
9,A857105,Johnny Ringo,Cat,Neutered Male,Domestic Shorthair,Orange Tabby,NaT,4404 Sarasota Drive in Austin (TX),2022-05-12 00:23:00,2 years,NaT,NaN,Public Assist,Normal,NaN,NaN

# Check final dataset

In [23]:
intake_n_outcome.dtypes

animal_id                   object
name                        object
animal_type                 object
sex                         object
breed                       object
color                       object
date_of_birth       datetime64[ns]
found_location              object
intake_datetime     datetime64[ns]
age_upon_intake             object
outcome_datetime    datetime64[ns]
age_upon_outcome            object
intake_type                 object
intake_condition            object
outcome_type                object
outcome_subtype             object
dtype: object

In [24]:
calculate_age_delta(intake_n_outcome, start="date_of_birth", end="intake_datetime", unit="years", col_suffix="intake")
calculate_age_delta(intake_n_outcome, start="date_of_birth", end="outcome_datetime", unit="years", col_suffix="outcome")
calculate_age_delta(intake_n_outcome, start="intake_datetime", end="outcome_datetime", unit="days")

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: duration, dtype: float64

In [25]:
intake_n_outcome

,animal_id,name,animal_type,sex,breed,color,date_of_birth,found_location,intake_datetime,age_upon_intake,outcome_datetime,age_upon_outcome,intake_type,intake_condition,outcome_type,outcome_subtype,duration
0,A635072,Beowulf,Dog,Neutered Male,Great Dane Mix,Black,NaT,415 East Mary Street in Austin (TX),2019-04-16 09:53:00,NaN,NaT,NaN,Public Assist,Normal,NaN,NaN,NaN
1,A682524,Rio,Dog,Neutered Male,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaT,800 Grove Blvd in Austin (TX),2014-06-29 10:38:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
2,A706918,Belle,Dog,Spayed Female,English Springer Spaniel,White/Liver,NaT,9409 Bluegrass Dr in Austin (TX),2015-07-05 12:59:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
3,A708452,Mumble,Dog,Intact Male,Labrador Retriever Mix,Black/White,NaT,Austin (TX),2015-07-30 14:37:00,NaN,NaT,NaN,Public Assist,Normal,NaN,NaN,NaN
4,A724273,Runster,Dog,Intact Male,Basenji Mix,Sable/White,NaT,2818 Palomino Trail in Austin (TX),2016-04-14 18:43:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
5,A743852,Odin,Dog,Neutered Male,Labrador Retriever Mix,Chocolate,NaT,Austin (TX),2017-02-18 12:46:00,NaN,NaT,NaN,Owner Surrender,Normal,NaN,NaN,NaN
6,A786884,*Brock,Dog,Neutered Male,Beagle Mix,Tricolor,NaT,2501 Magin Meadow Dr in Austin (TX),2019-01-03 16:19:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
7,A818975,NaN,Cat,Intact Male,Domestic Shorthair,Cream Tabby,NaT,Braker Lane And Metric in Travis (TX),2020-06-18 14:53:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
8,A844350,*Ella,Cat,Intact Female,Domestic Shorthair,Brown Tabby,NaT,2112 East William Cannon Drive in Austin (TX),2021-10-15 11:40:00,NaN,NaT,NaN,Stray,Normal,NaN,NaN,NaN
9,A857105,Johnny Ringo,Cat,Neutered Male,Domestic Shorthair,Orange Tabby,NaT,4404 Sarasota Drive in Austin (TX),2022-05-12 00:23:00,NaN,NaT,NaN,Public Assist,Normal,NaN,NaN,NaN

# Check columns

In [26]:
intake_n_outcome.dtypes

animal_id                   object
name                        object
animal_type                 object
sex                         object
breed                       object
color                       object
date_of_birth       datetime64[ns]
found_location              object
intake_datetime     datetime64[ns]
age_upon_intake            float64
outcome_datetime    datetime64[ns]
age_upon_outcome           float64
intake_type                 object
intake_condition            object
outcome_type                object
outcome_subtype             object
duration                   float64
dtype: object

In [27]:
intake_n_outcome.columns

Index(['animal_id', 'name', 'animal_type', 'sex', 'breed', 'color',
       'date_of_birth', 'found_location', 'intake_datetime', 'age_upon_intake',
       'outcome_datetime', 'age_upon_outcome', 'intake_type',
       'intake_condition', 'outcome_type', 'outcome_subtype', 'duration'],
      dtype='object')

In [28]:
intake_n_outcome.animal_type.value_counts()

animal_type
Dog    7
Cat    3
Name: count, dtype: int64

In [29]:
intake_n_outcome.breed.value_counts()

breed
Domestic Shorthair                       3
Labrador Retriever Mix                   2
Great Dane Mix                           1
Doberman Pinsch/Australian Cattle Dog    1
English Springer Spaniel                 1
Basenji Mix                              1
Beagle Mix                               1
Name: count, dtype: int64

In [29]:
test = {"date_of_birth":["2014-04-02 15:55:00"],
         "date_leave":["2015-04-27 14:45:00"]}
test["date_of_birth"] = pd.to_datetime(test["date_of_birth"])
test["date_leave"] = pd.to_datetime(test["date_leave"])
test_df = pd.DataFrame(test)
print(calculate_age_delta(test_df, "date_of_birth", "date_leave", unit="years", col_suffix="leaving"))

In [29]:
test_intake = pd.read_csv("test_data/test_intake.csv")
test_intake_data = pd.DataFrame(test_intake)
test_outcome = pd.read_csv("test_Data/test_outcome.csv")
test_outcome_data = pd.DataFrame(test_outcome)
    # >>> print(test_intake_data)
merge_intake_n_outcome(test_intake_data, test_outcome_data)

In [29]:
print(test_intake['datetime'])

In [29]:
test_intake.columns